.cover__background-link {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box; 
  width: 100%;
  min-height: 740px; 
  text-decoration: none;
  color: white;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__background-link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover__background-link:hover:before {
  opacity: 0.8;
  transition: 300ms;
  cursor: pointer;
}

@media screen and (max-width: 1030px) {
  .cover__background-link {
    min-height: 640px;
  }
}

@media screen and (max-width: 770px) {
  .cover__background-link {
    min-height: 480px;
  }
}

@media screen and (max-width: 600px) {
  .cover__background-link {
    min-height: 372px;
  }
} 


@media screen and (max-width: 430px) {
  .cover__background-link {
    min-height: 265px;
  }
}

@media screen and (max-width: 322px) {
  .cover__background-link {
    min-height: 200px;
  }
}
