.places {
  display: flex;
  flex-direction: column;
  width: calc(100% - 296px);
  margin: auto;
  row-gap: 80px;
}

@media screen and (max-width: 1030px) {
  .places {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 770px) {
  .places {
    row-gap: 73px;
    width: calc(100% - 48px);
    padding: 0 24px;
  }
}

@media screen and (max-width: 430px) {
  .places {
    width: 100%;
    padding: 0;
    row-gap: 50px;
  }
}