.place__image {
  width: 100%;
  padding: 0;
  margin: 0;
  object-fit: cover;
  grid-row: 2 / 4;
  order: 3;
}


@media screen and (max-width: 1026px) {
  .place__image {
    width: 100%;
  }
}


@media screen and (max-width: 769px) {
  .place__image {
    width: 100%;
    max-width: 340px;
  }
}


@media screen and (max-width: 430px) {
  .place__image {
    max-width: 100%;
  }
}