.lead {
  margin: auto;
  min-width: calc(100% - 296px);
}

@media screen and (max-width: 1025px) {
  .lead {
    min-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 769px) {
  .lead {
    width: 100%; 
    margin: 0;
  }
}
