.intro {
  margin: 0; 
  max-width: 690px;
  padding: 0 0 0 148px;
}

@media screen and (max-width: 1025px) {
  .intro {
    width: 690px; 
    padding: 0 48px; 
  }
}

@media screen and (max-width: 769px) {
  .intro {
    margin: auto;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 430px) {
  .intro {
    width: calc(100% - 32px);
  }
}