/* normalize */

@import url(../vendor/normalize.css);

/* fonts */

@import url(../vendor/fonts/fonts.css);

/* root */

@import url(../blocks/root/root.css);

/* header */

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

/* content */

@import url(../blocks/content/content.css);

/* lead */

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);

/* intro */

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__title/intro__title.css);

/* photo-grid */

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);

/* places */

@import url(../blocks/places/places.css);

/* place */

@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__paragraph-container/place__paragraph-container.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__website/place__website.css);

/* cover */

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__background-link/cover__backgroung-link.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__title/cover__title.css);

/* footer */

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__links-container/footer__links-container.css);

/*

.content {
  row-gap: 92px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .content {
    row-gap: 88px;
  }
}

@media screen and (max-width: 330px) {
  .content {
    row-gap: 64px;
  }
}



.lead {
  margin: auto;
  width: 78.5%;
}

@media screen and (max-width: 1025px) {
  .lead {
    width: 90.6%;
  }
}

@media screen and (max-width: 769px) {
  .lead {
    width: 100%; 
    margin: 0;
  }
}

@media screen and (max-width: 430px) {
  .lead {
    width: 100%;
  }
}



.lead__title {
  margin: auto;
  padding: 0;
  max-width: 720px;
  text-align: center;
  font-weight: 900;
  font-size: 6rem;
  line-height: 104%;
  padding-bottom: 32px;
}


@media screen and (max-width: 770px) {
  .lead__title {
    width: 93,75%;
  }
}

@media screen and (max-width: 430px) {
  .lead__title {
    max-width: 90%;
    padding-bottom: 16px;
    line-height: 110%;
    font-size: 2.5rem;
    max-width: 288px;
  }
}

.lead__subtitle {
  margin: auto;
  padding: 0;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 120%;
  padding-bottom: 64px;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 430px) {
  .lead__subtitle {
    width: 288px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 125%;
  }
}

.lead__image {
  object-fit: cover;
  width: 100%;
}

.lead__caption {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  font-weight: 400;
  size: 0,625rem;
  line-height: 140%;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 10px;
}


/* INTRO */

/*

.intro {
  margin: 0; 
  max-width: 100%;
  width: 53.9%; 
  max-height: 429px; 
  padding: 0 34.5% 0 11.7%;
}

@media screen and (max-width: 1025px) {
  .intro {
    width: 67.3%; 
    padding: 0 28% 0 4.7%; 
  }
}

@media screen and (max-width: 769px) {
  .intro {
    width: 93.6%;
    padding: 0 3.125%;
  }
}

@media screen and (max-width: 430px) {
  .intro {
    width: 90%;
    max-height: 754px;
    padding: 0 16px;
  }
}

.intro__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 107%;
  padding-bottom: 40px;
}

@media screen and (max-width: 430px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
}

.intro__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
  padding-bottom: 33px;
  font-style: normal;
}

.intro__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
}

 */

/* PHOTO GRID */

/*

.photo-grid {
  width: 92.5%;
  margin: auto;
  display: grid; 
  grid-template: repeat(auto-fit, minmax(213px, 1fr)) / repeat(auto-fit, minmax(284px, 1fr));  
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr)); 
  gap: 1rem;
}

.photo-grid__item {
  max-width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 93.75%;
  }
}

@media screen and (max-width: 430px) {
  .photo-grid {
    max-width: 90%;
    padding: 0 16px;
  }
}

*/

  /* PLACES */

/*

.places {
  display: flex;
  flex-direction: column;
  width: 76,875%;
  padding: 0 148px;
  row-gap: 80px;
}

@media screen and (max-width: 1026px) {
  .places {
    width: 90,6%;
    padding: 0 48px;
  }
}

@media screen and (max-width: 769px) {
  .places {
    row-gap: 73px;
    width: 93,75%;
    padding: 0 24px;
  }
}

@media screen and (max-width: 430px) {
  .places {
    width: 100%;
    padding: 0;
    row-gap: 50px;
  }
}

.place {
  width: 100%;
  display: grid;
  gap: 48px 40px;
  grid-template: 1fr min-content max-content / repeat(2, 1fr);

}

@media screen and (max-width: 430px) {
  .place {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    flex-flow: column;
  }
}

.place__title {
  margin: 0;
  padding: 0px; 
  grid-row: 1 / 2;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  font-style: normal;
  order: 1;
}

@media screen and (max-width: 770px) {
 .place__title {
  line-height: 110%;
  font-size: 42px;
 }
}

 @media screen and (max-width: 430px) {
  .place__title {
    padding-left: 16px;
    line-height: 109%;
    font-size: 32px;
  }
 }

.place__image {
  width: 460px;
  object-fit: cover;
  grid-row: 2 / 4;
  order: 3;
}


@media screen and (max-width: 1026px) {
  .place__image {
    width: 440px;
  }
}


@media screen and (max-width: 769px) {
  .place__image {
    width: 340px;
  }
}


@media screen and (max-width: 430px) {
  .place__image {
    width: 320px;
  }
}

.place__website {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  order: 2;
}

@media screen and (max-width: 430px) {
  .place__website {
    padding-left: 16px;
  }
}

.place__url-heading {
  padding: 0 0 16px 0;
  margin: 0;
  line-height: 20.4px;
  font-weight: 400px;
  font-size: 0,75rem;
  letter-spacing: 2px;
  color: #aaa;
}

@media screen and (max-width: 430px) {
  .place__url-heading {
    padding-bottom: 12px;
  }
}

.place__link {
  padding: 0;
  margin: 0;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-size: 18px;
  line-height: 22px;
}

.place__link:hover {
  opacity: 50%;
  transition: 200ms;
}

.place__paragraph-container {
  column-gap: 18px;
  grid-row: 2 / 4;
  grid-column: 2 / 3;
  order: 4;
}

.place__paragraph {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
}

@media screen and (max-width: 770px) {
  .place__paragraph {
    font-size: 16px;
    padding: 0 16px 25px 16px;
  }
}

*/

/* COVER */

/*

.cover {
  width: 92,5%;
  text-align: center;
  padding: 0 48px;
  overflow: hidden;
}

@media screen and (max-width: 1030px) {
  .cover {
    width: 100%;
    padding: 0;
  }
}

.cover__title {
  padding: 0;
  margin: 0;
  padding-bottom: 32px;
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  z-index: 2;
}

@media screen and (max-width: 430px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 16px;
    max-width: 288px;
    max-height: 70px;
  }
}

.cover__subtitle {
  padding: 0;
  margin: 0;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  z-index: 2;
}

@media screen and (max-width: 430px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}

.cover__background-link {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box; 
  width: 100%;
  min-height: 740px; 
  /*
  height: 0;
  padding-top: 62.5%;
  
  text-decoration: none;
  color: white;
  background-image: url(../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1030px) {
  .cover__background-link {
    min-height: 640px;
  }
}

@media screen and (max-width: 770px) {
  .cover__background-link {
    min-height: 480px;
  }
}

@media screen and (max-width: 430px) {
  .cover__background-link {
    min-height: 200px;
  }
}


.cover__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: #2a2c2f;
  z-index: 1;
}

.cover__overlay:hover {
  opacity: 0.7;
  transition: 300ms;
}

*/

/* FOOTER */

/*

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 92,5%;
  margin: auto;
  padding: 92px 48px 24px 48px;
}

@media screen and (max-width: 1030px) {
  .footer {
    max-width: 90,6%;
  }
}

@media screen and (max-width: 770px) {
  .footer {
    max-width: 93,75%;
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (max-width: 430px) {
  .footer {
    flex-direction: column;
    gap: 48px 0;
  }
}

.footer__links-container {
  display: flex;
  column-gap: 18px;
}

@media screen and (max-width: 430px) {
  .footer__links-container {
    flex-direction: column;
    gap: 32px 0;
  }
}

.footer__link {
  margin: 0;
  padding: 0;
  font-style: normal;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 430px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__link:hover {
  opacity: 50%;
  transition: 200ms;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

*/